<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>oahu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="my-card"
            [@cardAnimator]="animationState"
            (@cardAnimator.done)="resetAnimationState()"
            (swipeleft)="startAnimation('slideOutLeft')">
    <img src="https://media.timeout.com/images/105223328/630/472/image.jpg" alt="oahu">
    <ion-card-header>
      <ion-card-subtitle>Location</ion-card-subtitle>
      <ion-card-title>Honolulu, HA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Known as “The Gathering Place,” Oahu is home to the largest population of people as well as the best nightlife in Hawaii. 
        The Honolulu craft beer and food scene here is dynamic and always changing. 
    </ion-card-content>

    <ion-button (tap)="startAnimation('swing')">swing</ion-button>

  </ion-card>
</ion-content>
